<%= link_to "ログイン", tweets_path %>
<%= link_to "新規登録", new_user_registration_path %>
<%= link_to "診断", tweets_test_path %>


<div class="slider">
        <div class="slider-inner">
            <div class="slider-item"><%= image_tag 'futari.png' %></div>
            <div class="slider-item"><%= image_tag 'huku.png' %></div>
            <div class="slider-item"><%= image_tag 'inu.png' %></div>
        </div>
    </div>


