
<h2>診断<h2>

  <div class="test">
     <div class="row">
        <%= form_tag({controller:"tweets",action:"index"}, method: :get) do %>
          <div class="col-md-4">    
              <div class="card" style="width: 25rem;">
              
    <div class="cardura">
    <div class="tenki">
    <p>Question1. 天気</p>
    <%= radio_button_tag :question1, '晴',class: "i" %>晴
    <%= radio_button_tag :question1, '曇',class: "i" %>曇
    <%= radio_button_tag :question1, '雨',class: "i" %>雨
    

    <p>Question2. 季節</p>
    <%= radio_button_tag :question2, '春',class: "i" %>春
    <%= radio_button_tag :question2, '夏',class: "i" %>夏
    <%= radio_button_tag :question2, '秋',class: "i" %>秋
    <%= radio_button_tag :question2, '冬',class: "i" %>冬
    
    <p>Question3. 色</p>
    <%= radio_button_tag :question3, 'モノトーン',class: "i" %>モノトーン
    <%= radio_button_tag :question3, 'ビビット',class: "i" %>ビビット
    <%= radio_button_tag :question3, 'パステル',class: "i" %>パステル


    <div class="submit">
    <%= submit_tag "診断する" %>
    </div>
<% end %>
</div>
</div>
</div>
</div>
</div>
</div>

